= simple_form_for(@<%= singular_table_name %>, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
  <%- attributes.each do |attribute| -%>
    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
  <%- end -%>

  .form-actions
    = f.button :wrapped,
               :delete => @<%= singular_table_name %>,
               :cancel => <%= plural_table_name %>_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
